# Dependencies
node_modules/
svelte-app/node_modules/

# Build outputs
svelte-app/dist/
svelte-app/target/
svelte-app/src-tauri/target/

# Tauri artifacts
svelte-app/src-tauri/bin/
svelte-app/src-tauri/build/
svelte-app/src-tauri/.taurignore

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env files
.env
.env.local
